menu "GPS 传感器配置"
    config ENABLE_GPS
        bool "启用 GPS GPS模块"
        default y
        help
            启用 GPS GPS模块功能。

    if ENABLE_GPS
        
        config GPS_UART_PORT 
            int "GPS UART端口号"
            default 1
            help
                GPS UART端口号。            
                
        config GPS_UART_BAUD
            int "GPS UART波特率"
            default 9600
            help
                GPS UART波特率。
                
        config GPS_UART_TX_GPIO
            int "GPS UART发送引脚"
            default 17
            help
                GPS UART发送引脚。

        config GPS_UART_RX_GPIO
            int "GPS UART接收引脚"
            default 18
            help
                GPS UART接收引脚。
    endif
endmenu
