menu "传感器配置"
    
    menu "HX711 测试配置"
        depends on ENABLE_UNIT_TESTS
        
        config HX711_TEST_DOUT_GPIO
            int "测试用 DOUT 引脚"
            default 4
            help
                测试用的 HX711 DOUT 引脚。

        config HX711_TEST_SCK_GPIO
            int "测试用 SCK 引脚"
            default 5
            help
                测试用的 HX711 SCK 引脚。
    endmenu

    menu "NFC 测试配置"
        depends on ENABLE_UNIT_TESTS
        
        config NFC_TEST_UID
            string "测试用 UID"
            default "0123456789AB"
            help
                测试用的 NFC 卡 UID。
    endmenu

endmenu
