menu "NFC 传感器配置"
    config ENABLE_NFC
        bool "启用 NFC NFC读卡器"
        default y
        help
            启用 NFC NFC读卡器功能。

    if ENABLE_NFC
        
        config NFC_I2C_PORT
            int "NFC I2C端口号"
            default 1
            help
                NFC I2C端口号。
                
        config NFC_I2C_ADDR
            hex "NFC I2C地址"
            default 0x28
            help
                NFC I2C地址。
                
                
    endif
endmenu
