menu "HX711 传感器配置"
    config ENABLE_HX711
        bool "启用 HX711 重量传感器"
        default y
        help
            启用 HX711 称重传感器功能。

    if ENABLE_HX711
        config HX711_FRONT_DOUT_GPIO
            int "前称重传感器数据引脚"
            default 36
            help
                前称重传感器数据引脚。      
                
        config HX711_FRONT_SCK_GPIO
            int "前称重传感器时钟引脚"
            default 37
            help
                前称重传感器时钟引脚。
                
        config HX711_REAR_DOUT_GPIO
            int "后称重传感器数据引脚"
            default 38
            help
                后称重传感器数据引脚。
                
        config HX711_REAR_SCK_GPIO
            int "后称重传感器时钟引脚"
            default 39
            help
                后称重传感器时钟引脚。
                
                
    endif
endmenu
